<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/anime">Anime <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user_info">Purchases</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/studio">Studio</a>
            </li>
        </ul>
    </div>
    <a class="navbar-brand ml-auto" href="#"><%= username %></a>
    <form class="form-inline" action="/logout" method="get">
        <button class="btn btn-outline-danger my-2 my-sm-0">Logout</button>
    </form>
</nav>
